body{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #495464;
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) { 
  .social-buttons a{
  display: inline-flex;
  text-decoration: none;
  font-size: 100px;
  width: 100px;
  height: 120px;
  color: #F0F8FF;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 80px;  
}

.social-buttons a:hover i{
  background: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: text;
  transform: scale(2);
}

.social-buttons a i{
  transition: 0.3s ease-in;
}

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
  .social-buttons a{
  display: inline-flex;
  text-decoration: none;
  font-size: 100px;
  width: 800px;
  height: 150px;
  color: #F0F8FF;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 800 800px;
}

.social-buttons a:hover i{
  background: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: text;
  transform: scale(2);
}

.social-buttons a i{
  transition: 0.3s ease-in;
}

}

/* Landscape phones and down */
@media (max-width: 480px) { 
  .social-buttons a{
  display: inline-flex;
  text-decoration: none;
  font-size: 100px;
  width: 800px;
  height: 150px;
  color: #F0F8FF;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 800 800px;
}

.social-buttons a:hover i{
  background: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: text;
  transform: scale(1.5);
}

.social-buttons a i{
  transition: 0.3s ease-in;
}

}

