body{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #5c677d;
}

.source {
	position: fixed;
	font-size: 10px;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
}

.footer {
	position: fixed;
	font-size: 10px;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
}



 @media screen and (orientation:portrait) {
	 
.source a{
  display: inline-flex;
  text-decoration: none;
  font-size: 100px;
  width: 10px;
  height: 150px;
  color: #F0F8FF;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 80px;
}

.footer a{
  display: inline-flex;
  text-decoration: none;
  font-size: 10px;
  color: #F0F8FF;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 80px;
}
	 
.social-buttons a{
  display: inline-flex;
  text-decoration: none;
  font-size: 200px;
  width: 800px;
  height: 300px;
  color: #F0F8FF;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 80px;
  
 }

.social-buttons a i{
  transition: 0.15s ease-in;
 }

.social-buttons a:hover i{
  background: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: text;
  transform: scale(1.5);
 }	 
 }
 
 @media screen and (orientation:landscape) {
	 
.source a{
  display: inline-flex;
  text-decoration: none;
  font-size: 50px;
  width: 10px;
  height: 100px;
  color: #F0F8FF;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 80px;
}

.footer a{
  display: inline-flex;
  text-decoration: none;
  font-size: 10px;
  color: #F0F8FF;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 80px;
}		 
	 
  .social-buttons a{
  display: inline-flex;
  text-decoration: none;
  font-size: 100px;
  width: 100px;
  height: 120px;
  color: #F0F8FF;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 80px;
  
 }

.social-buttons a i{
  transition: 0.15s ease-in;
 }

.social-buttons a:hover i{
  background: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: text;
  transform: scale(1.5);
 }
}
